extends layout

block column_1
  h1
    span.site-name=title
    time.current-time=time
  article.triggers
    hgroup.triggers-counters
      h2.disaster
        strong.counter=0
        span disaster
      h2.high
        strong.counter=0
        span high
      h2.average
        strong.counter=0
        span average
    ul.triggers-data
      li.disaster
        span.device ***
        time ***
        p ---

block column_2
  article.new-tasks
    hgroup.tasks-counter
      h2.expired
        strong.counter=0
        span просрочено
      h2.new
        strong.counter=0
        span новых
      h2.total
        strong.counter=0
        span всего
    ul.new-tasks-data
      li
        span.id #
        p ---
        p.additional
            span.place *
            time *
    ul.expired-tasks-data
      li
        span.id #
        p ---
        p.additional
            span.place *
            time *
