doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300&subset=latin,cyrillic-ext')
  body
    section#main
        section.column
            block column_1
        section.column
            block column_2