doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#main
        section.column
            block column_1
        section.column
            block column_2