doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/socket.js')
  body
    section#main
        section.column
            block column_1
        section.column
            block column_2
    audio.error-sound
        source(src="/sounds/beep-5.mp3")
