body
  padding: 15px
  width: 1330px
  height: 730px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #16191b
  color: #7d8d97
h1
  font-size: 56px
  margin: 0
  letter-spacing: -4px
  display: -webkit-flex
  -webkit-flex-flow: row wrap
  -webkit-justify-content: space-between
a
  color: #00B7FF

#main
  display: -webkit-flex
  -webkit-flex-flow: row wrap
.column
  display: -webkit-flex
  -webkit-flex-flow: column
  width: 50%

.site-name
  display: -webkit-flex
  -webkit-flex-flow: column
  -webkit-flex: auto
.current-time
  display: -webkit-flex
  -webkit-flex-flow: column
  -webkit-flex: auto
  text-align:right