error = #ca0804
warning = #bc9102
note = #4685b3
low = #7d8d97

html
  height: 100%

body
  font: 14px 'Open Sans', sans-serif;
  height: 738px
  overflow: hidden
  padding: 15px 0px
  background: #16191b
  color: #7d8d97
h1
  font-size: 56px
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 0 15px
  letter-spacing: -4px
  display: -webkit-flex
  -webkit-flex-flow: row wrap
  -webkit-justify-content: space-between

h2
  display: inline-block
  font-family: 'Open Sans Condensed', sans-serif;
  width: 105px
  margin: 0
  color: #FFF

h2 strong
  font-size: 56px

h2 span
  font-size:12px

h2.disaster
  color: error

h2.high
  color: warning

h2.average
  color: note

h2.expired
  color: error

h2.total
  color: low

a
  color: #00B7FF

#main
  width: 1380px
  height: 768px
  overflow: hidden
  display: -webkit-flex
  -webkit-flex-flow: row wrap
  height: 100%
  -webkit-align-content: stretch
  -webkit-align-items: stretch

.column
  -webkit-flex: 1
  margin: 0 15px
  -webkit-align-content: stretch

.site-name
  display: -webkit-flex
  -webkit-flex-flow: column
  -webkit-flex: auto

.current-time
  font-size: 1em
  display: -webkit-flex
  -webkit-flex-flow: column
  -webkit-flex: auto
  text-align:right

article
  border-radius: 10px
  background: #1c2022
  -webkit-flex: auto

article+article
  margin-top: 30px

hgroup
  padding: 5px 14px
  background: #000
  border-radius: 10px 10px 0 0
  border-bottom: solid 1px #495054

ul
  margin: 0
  padding: 0

ul + ul
  border-top: 10px solid #16191b

li
  list-style: none
  margin: 0
  padding: 14px

li + li
  border-top: solid 1px #495054

li + li:not(:last-child)
  border-bottom: solid 1px #000

li p
    font-size: 32px
    line-height: 1
    margin: 4px 0

.disaster p
    color: error

.high p
    color: warning

.average p
    color: note

.new_tasks p
    color: #FFF

.expired_tasks p
    color: error

p.additional
  font-size: 18px
  margin-top: 8px
  color: #7d8d97

.id
  font-size: 20px
  line-height: 1
  float: right
  margin-left: 2ex
  padding-top: 8px

.device
.place
time
  font-size: 20px
  width: 50%
  display: inline-block

time
    text-align:right