html {
  height: 100%;
}
body {
  font: 14px 'Open Sans', sans-serif;
  height: 738px;
  overflow: hidden;
  padding: 15px 0px;
  background: #16191b;
  color: #7d8d97;
}
h1 {
  font-size: 56px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 0 15px;
  letter-spacing: -4px;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between;
}
h2 {
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 105px;
  margin: 0;
  color: #fff;
}
h2 strong {
  font-size: 56px;
}
h2 span {
  font-size: 12px;
}
h2.disaster {
  color: #ca0804;
}
h2.high {
  color: #bc9102;
}
h2.average {
  color: #4685b3;
}
h2.expired {
  color: #ca0804;
}
h2.total {
  color: #7d8d97;
}
a {
  color: #00b7ff;
}
#main {
  width: 1380px;
  height: 768px;
  overflow: hidden;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  height: 100%;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
}
.column {
  -webkit-flex: 1;
  margin: 0 15px;
  -webkit-align-content: stretch;
}
.site-name {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-flex: auto;
}
.current-time {
  font-size: 1em;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-flex: auto;
  text-align: right;
}
article {
  border-radius: 10px;
  background: #1c2022;
  -webkit-flex: auto;
}
article+article {
  margin-top: 30px;
}
hgroup {
  padding: 5px 14px;
  background: #000;
  border-radius: 10px 10px 0 0;
  border-bottom: solid 1px #495054;
}
ul {
  margin: 0;
  padding: 0;
}
ul + ul {
  border-top: 10px solid #16191b;
}
li {
  list-style: none;
  margin: 0;
  padding: 14px;
}
li + li {
  border-top: solid 1px #495054;
}
li + li:not(:last-child) {
  border-bottom: solid 1px #000;
}
li p {
  font-size: 32px;
  line-height: 1;
  margin: 4px 0;
}
.disaster p {
  color: #ca0804;
}
.high p {
  color: #bc9102;
}
.average p {
  color: #4685b3;
}
.new_tasks p {
  color: #fff;
}
.expired_tasks p {
  color: #ca0804;
}
p.additional {
  font-size: 18px;
  margin-top: 8px;
  color: #7d8d97;
}
.id {
  font-size: 20px;
  line-height: 1;
  float: right;
  margin-left: 2ex;
  padding-top: 8px;
}
.device,
.place,
time {
  font-size: 20px;
  width: 50%;
  display: inline-block;
}
time {
  text-align: right;
}
